**/*.zwc
**/*qutebrowser/bookmarks/*
**/*qutebrowser/quickmarks
**/._cfg0000*
**/.netrwhist
**/.zcompdump
**/etc,libvirt/qemu/*.xml
**/fish_variables
**/gtkfilechooser.ini
**/plug.vim*
**/supervise
*/*,greasemonkey/requires
*/HOME,.config,mpd/database
*/HOME,.config,mpv/watch_later/*
*/HOME,.config,qt5ct/colors/*
*/HOME,.config,qutebrowser/qsettings/*
*/etc,NetworkManager/system-connections/*
*/etc,runit,runsvdir/previous
01-cli/etc,NetworkManager/conf.d/dns-servers.conf
sets.conf
