/* autohide navbar */
#nav-bar:not([customizing="true"]) {
	min-height: 1px !important;
	max-height: 1px !important;
	margin-top: 0px !important;
	margin-bottom: -2px !important;
	z-index: 5 !important;
}
#navigator-toolbox:hover :-moz-any(#nav-bar),
#navigator-toolbox:focus-within :-moz-any(#nav-bar) {
	min-height: 32px !important;
	max-height: 32px !important;
	margin-top: -1px !important;
	margin-bottom: -32px !important;
	z-index: 5 !important;
}
/* Needed for for FF 75 megabar */
#urlbar {
	--urlbar-toolbar-height: 32px !important;
}

/* Hide main tabs toolbar */
#main-window[tabsintitlebar="true"]:not([extradragspace="true"]) #TabsToolbar > .toolbar-items {
    opacity: 0;
    pointer-events: none;
}
#main-window:not([tabsintitlebar="true"]) #TabsToolbar {
    visibility: collapse !important;
}

/* Sidebar min and max width removal */
#sidebar {
    max-width: none !important;
    min-width: 0px !important;
}
/* Hide splitter, when using Tree Style Tab. */
#sidebar-box + #sidebar-splitter {
    display: none !important;
}
/* Hide sidebar header, when using Tree Style Tab. */
#sidebar-box #sidebar-header {
    visibility: collapse;
}
/* Shrink sidebar until hovered, when using Tree Style Tab. */
:root {
    --thin-tab-width: 1px;
    --wide-tab-width: 300px;
}
#sidebar-box:not() {
    min-width: var(--wide-tab-width) !important;
    max-width: none !important;
    margin-left: -1px !important;
    z-index: 1;
}
#sidebar-box {
    position: relative !important;
    min-width: var(--thin-tab-width) !important;
    max-width: var(--thin-tab-width) !important;
    margin-right: -1px !important;
    z-index: 1;
}
#sidebar-box:hover {
    min-width: var(--wide-tab-width) !important;
    margin-right: -300px !important;
    z-index: 1;
}
